body {
	font-family: Helvetica, sans-serif;
	box-sizing: border-box;
	background-color: gray;
}

/** header **/
.navbar {
	background-color: salmon;
	border-radius: 0;
	border: 0;
	height: 75px;
}

.navbar-brand h1 {
	color: lightgray;
	margin: 0;
	padding-top: 5px;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

.navbar-header button {
	margin-top: 22.5px;
	border: black 1px;
}
